 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.nav-wrapper, .page-footer {
  background: linear-gradient(to right, #77a1d3, #79cbca, #e684ae);
}

div.card-content {
  color: #e684ae;
}

input.btn {
  background: #77a1d3;
}

input.btn:hover {
  background: #79cbca;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #77a1d3;
}

div.datepicker-date-display, .datepicker-table td.is-selected {
  background: #79cbca; 
}

.btn-flat{
  color: #79cbca;
}
